@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/* body{
  padding-bottom: 1000px;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid green;
}

.cards img{
  background-position-x: 50%;
  background-position: 50%;
   height:420px;
  width:300px; 
}

.cards-para{
  color:red;
  border:1px solid red;
  width:800px;
  margin-top:14px;
} */